/* Genéral */
*{
    margin: 0;
    padding: 0;
    color:#444;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h2,h3,h4{
    text-transform: uppercase;
}

.company{
    font-family: 'Noto Serif NP Hmong', serif;
    font-size: 50px;
    
}

.company span{
    color:orange;
}

ul{
    list-style: none;
}

.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    
}

a{
    text-decoration: none;
   

}

h2{
    
    font-size: 55px;
}

h4{
    font-size: 24px;
    
}

h3{
    font-size: 40px;
}

p{
    line-height: 20px;
    
}

.clear{
    clear: both;
}

/*header*/
header{
    height: 120px;

}
header h1{
    float: left;
    margin-top: 32px;
}


header nav{
    float:right;
    margin-top: 50px;
}

header nav ul li{
    display: inline-block;   
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* contenu */

/* accueil */
#main{
    height: 580px;
    background: url(../images/main.jpg) center;

}
#main h2{
    font-weight: normal;
    text-align: center;
    padding:150px 0 40px 0;
    margin-bottom: 20px;
}
.button1{
    display:block;
    width: 120px;
    height: 50px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    margin:0px auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;

}

.button1:hover, .button2:hover{
    background-color:#02b8dd;
}
/* steps */
#steps ul {
    margin: 80px 0;
}

#steps ul li{
    
    width: 291px;
    float:left;
    padding-top: 140px;
    text-align: center;
    margin-right: 20px;
}

#steps h4{
    
    margin-bottom: 20px;
}

#steps p{
    margin-bottom: 20px;
}

#step1{
    background: url(../images/steps-icon-1.png) no-repeat top center;
}
#step2{
    background: url(../images/steps-icon-2.png) no-repeat top center;
}
#step3{
    background: url(../images/steps-icon-3.png) no-repeat top center;
}

/* artices */
#possibilities{
    padding: 60px 0;
    background-color: #efefef;
    
}

#possibilities article{
    
    width: 450px;
    height: 270px;
    float:left;
    border-radius: 10px;
    
}

#article1{
    margin-right: 20px;
    background: url(../images/article-image-1.jpg) no-repeat right center;
    
}

#article2{
    background: url(../images/article-image-2.jpg) no-repeat right center;
}

.overLay{
    box-sizing: border-box;
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    background: rgba(255,255,255,0.95);
    text-align: center;
}

article h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    
    text-align: center;
    margin-bottom: 20px;
}

article p{
    font-size: 13px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.button2{
    color: white;
    background-color: orangered;
    padding: 6px 20px;
    border-radius: 3px;

}

/* contact */
#contact{
    padding: 60px 0;
    text-align: center;
}

#contact h3{
    width: 400px;
    
    margin: 0 auto 20px auto;
    border-bottom: 1px solid lightseagreen;
}

form{
    margin: 60px 0 20px 0;

}

label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;

}

input[type="text"]
{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border:2px solid #ddd;
    border-radius: 3px;
}

.button3{
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
}

.button3:hover{
    background-color: orangered;
}
/* footer */
footer{
    height: 260px;
    background-color: #444;
}
footer h2{
    color:white;
    text-align: center;
    padding-top: 80px;
}

footer p{
    text-align: center;
    font-weight:bold ;
    padding-top: 30px;
    color: #777;
}